body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
  --blue: #305071;
  --green: #8ccfb1;
}

.table {
  width: 95%;
  margin: 50px auto 0 auto;
  border: 2px solid rgba(160, 158, 158, 0.29);
  border-spacing: 0;
}

tr:nth-child(even),
.thead {
  background-color: #f2f2f2;
}
.thead th:nth-child(-n + 2) {
  text-align: left;
  padding-left: 45px;
}
.winners_caption,
.posts_caption {
  background-color: var(--blue);
  color: white;
  font-size: 1.2rem;
  padding: 25px;
  text-align: left;
}
.posts_caption {
  background-color: var(--green);
  color: black;
}

.full-text {
  display: none;
}
.full-text,
.short-text,
.score {
  color: rgb(111, 108, 108);
  padding: 15px;
  text-align: right;
  font-weight: 200;
}
@media only screen and (max-width: 600px) {
  .score {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .full-text {
    display: table-cell;
  }
  .short-text {
    display: none;
  }
}

.greenIndicator::before,
.yellowIndicator::before,
.greyIndicator::before {
  content: " ";
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.greenIndicator::before {
  background-color: var(--green);
}
.yellowIndicator::before {
  background-color: #e6d65b;
}
.greyIndicator::before {
  background-color: #dfdfdf;
}

td {
  text-align: right;
  color: rgb(88, 87, 87);
  padding: 15px;
}

.winners,
.post {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.winners {
  max-width: 120px;
  font-weight: 600;
}
.post {
  display: inline-block;
  color: var(--blue);
  width: 45vw;
}

.moreLink {
  position: absolute;
  right: 3%;
  padding: 10px 0px 30px 0px;
  color: var(--blue);
  text-decoration: none;
}
