body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  /* Color variables */
  --blue: #305071;
  --green: #8ccfb1;
  --yellow: #e6d65b;
  --grey: #dfdfdf;
}

.table {
  max-width: 95vw;
  margin: 0 auto;
  border: 2px solid rgba(160, 158, 158, 0.29);
}
.table td,
.table th {
  border-top: none;
}
.table_head {
  background-color: var(--blue);
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 95vw;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}
.full-text {
  font-weight: 300;
  display: none;
}
.full-text,
.short-text {
  font-weight: 300;
  color: rgb(111, 108, 108);
}

.greenIndicator::before {
  content: " ";
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--green);
  border-radius: 50%;
}
.yellowIndicator::before {
  content: " ";
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--yellow);
  border-radius: 50%;
}

.greyIndicator::before {
  content: " ";
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--grey);
  border-radius: 50%;
}

td {
  font-weight: 300;
  text-align: right;
  color: rgb(111, 108, 108);
}

.th_winners {
  font-weight: 500;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreWinnersLink {
  position: absolute;
  right: 2.5%;
  margin-top: 10px;
  color: var(--blue);
  font-weight: 300;
}
/* 
Recent Winners mobile styles */

@media only screen and (max-width: 600px) {
  .score {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .full-text {
    display: table-cell;
  }
  .short-text {
    display: none;
  }
}

/* Latest Posts styles */

.table_head_posts {
  background-color: var(--green);
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 95vw;
  margin: 100px auto 0px auto;
  padding: 20px;
  font-family: sans-serif;
}

.post {
  display: inline-block;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--blue);
  width: 55vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time {
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 300;
}
